*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
a{
    color: black;
}
body{
    background-color: rgb(149, 219, 254);
    display: flex;
    justify-content: center;
    margin-top: 60px;

   
}
.tab-container{
    border-radius: 80px;
    display: flex;
    width: 1000px;
    background: radial-gradient(circle at 10% 20%, rgb(149, 219, 254) 0%, rgb(7, 134, 197) 90.1%);   
     height: 700px;
     overflow: hidden;
     position: absolute;
}
.logo img{
    width: 70px;
    border-radius: 50%;
    border: 2px solid black;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    background-color: white;

}


.logo{
    text-align: center;
    display: flex;
    gap: 10px;
    align-items: center;
    width: 360px;
    margin-top: 20px;
    color: aliceblue;
    
}




aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    justify-content: center;
    padding-left: 40px;
}
aside, ul{
    display: flex;
    flex-direction: column;
    gap: 20px;

}

li, a{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    padding-top: 10px;
    background-color: white;
    cursor: pointer;
    list-style: none;
    box-shadow: 5px 10px 18px rgb(2, 72, 121);


   
}


.tab-content{
    width: 100%;
    position: absolute;
    transform: translateX(0px);
    margin-left: 120px;
    transition: all 300ms ease-in-out;


}
.hero{
    display: flex;
    align-items: center;
    position: absolute;
    top: 40px;
}

.hero-img img{
    width: 500px;
    border-style: none;
}

span{
    color: white;
    font-size: 2em;
    font-weight: 900;
}
.resume-btn{
    width: 200px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(0, 102, 255);
    color: white;
    cursor: pointer;
    border-color: white;
    border-end-start-radius: 80px;
}
.me{
    line-height: 2em;
}
.me p{
    width: 290px;
}
.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}


/*-------------SKILLS */
.skill-title{
    border: 7px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 50px;
    margin-top: 20px;

}
.skills img{
    width: 100px;
}
.skills{
    display: flex;
    width: 490px;
    align-items: center;
    gap: 60px;
    flex-wrap: wrap;
    margin: 100px 120px;
}
.service{
    
    transform: translateX(160%);
    transition: all 300ms ease-in-out;
}


/*-------------projct */
.projects{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 800px;
    gap: 20px;
    height: 220px;
    overflow: hidden;
    padding-top: 7px;
    margin-top: 100px;
    
   
}
.project-container{
    transform: translateY(100%);
    transition: all 300ms ease-in-out;


}

.content img{
    width: 240px;
    cursor: pointer;
}
.content button{
    width: 100px;
    height: 30px;
}
.content img, .description p{
    width: 200px;
    height: 200px;

}
.show-more-btn{
    width: 100px;
    height: 30px;
    background-color: white;
    cursor: pointer;
    
}
.more-btn{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.show-more{
    height: 400px;
   position: relative;
}


/*------------contact */

.contact-form{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 30px;
}
.contact-container{
    transform: translateY(100%);
}
input, textarea{
    color: white ;
    font-size: 1em;
}
::placeholder{
    color: white;
}

.name, input[type = email], .message{
    border-color: white;
    width: 200px;
    height: 40px;
    border-top: none;
    border-left:none ;
    border-right: none;
    background-color: transparent;
    outline: none;
}
button[type = submit]{
    width: 120px;
    height: 40px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
   
}
button[type=submit], .show-more-btn{
    position: relative;
  display:block;
  height: 45px;
  width: 150px;
  margin: 10px 7px;
  padding: 5px 5px;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 2px;
  color: #383736;
  border: 2px #383736 solid;
  border-radius: 4px;
  text-transform: uppercase;
  outline: 0;
  overflow:hidden;
  background: none;
  z-index: 1;
  cursor: pointer;
  transition:         0.08s ease-in;
  -o-transition:      0.08s ease-in;
  -ms-transition:     0.08s ease-in;
  -moz-transition:    0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
}

button[type=submit]::before, .show-more-btn::before{
    content: "";
    position: absolute;
    background: #383736;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
   transition: top 0.09s ease-in;
   

}
button[type=submit]:hover, .show-more-btn:hover{
    color: whitesmoke;
  }
  
  button[type=submit]:hover::before, .show-more-btn:hover::before{
    top: 0;
  }
